.DS_Store
._.DS_Store
Thumbs.db
.bash_history
.bashrc
.cache
logs/*
.profile
.viminfo
.idea/*
nbproject
*tmp*
*.swp
*.sublime-project
*.sublime-workspace
.project
.settings
.buildpath
.idea
.phing_targets
project.properties
.Trash-1000
npm-debug.log
node_modules/
node_modules
